*{
    margin: 0;
    padding: 0;
}
.uno{
    background: brown;
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border: 5px solid seagreen;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: inline-block;
}

.dos{
    background: blue;
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border: 5px solid seagreen;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: inline-block
}